.container {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;

	header {
		display: flex;
		align-items: center;
		gap: 3rem;
		width: 100%;

		.img {
			min-width: 300px;
			min-height: 300px;
			background: url('/photos/profile.JPG');
			background-size: cover;
			background-position: center;
			border-radius: 50%;
			box-shadow: 0 0 0 6px var(--accent) inset;

			&.loading::before {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				border-radius: 50%;
				border: 4px solid var(--stroke);
				border-top: 4px solid var(--accent);
				width: 50px;
				height: 50px;
				animation: spin 1s linear infinite;
			}

			&.loaded::before {
				display: none;
			}
		}

		.info-person-right-container {
			color: var(--text-color);
			display: flex;
			flex-direction: column;
			width: 100%;

			.top-bar-person-name {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 1rem;

				.left {
					display: flex;
					align-items: center;
					gap: 2rem;
					h1 {
						font-size: 3.5rem;
						text-decoration: underline;
					}

					.bg-btn {
						padding: 16px;
						background-color: var(--gray-color);
						font-size: 1.45rem;
						font-weight: 500;
						cursor: pointer;
						border: 1px solid var(--stroke);
						outline: none;
						color: var(--text-color);
						transition: 300ms ease;

						&:hover {
							opacity: 0.9;
						}
					}
				}
				.right span {
					font-size: 3rem;
					cursor: pointer;
					transition: 300ms ease;

					&:hover {
						color: var(--accent);
					}
				}
			}

			.info-row-bar-numbers {
				display: flex;
				align-items: center;
				gap: 2rem;
				font-size: 1.35rem;
				font-weight: 300;
				color: var(--light-gray-text);

				.bold {
					font-weight: 900;
					color: var(--text-color);
				}
			}

			.col-name {
				margin-top: 2rem;

				h2 {
					font-size: 3rem;
					margin-bottom: 1rem;
				}

				p {
					font-size: 1.2rem;
					color: var();
				}
				span {
					display: inline-block;
					margin-top: 1rem;
					padding: 16px;
					background-color: var(--gray-color);
					border-radius: 200px;
					font-size: 1.55rem;
					font-weight: 500;
					border: 1px solid var(--stroke);
				}
			}
		}
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
